.home_text {
  margin-top: 5vh;
}

.home_text h2 {
  margin: auto;
  padding: 10px;
  text-align: center;
  font-family: "Princess Sofia", cursive;
  color: #004923;
  text-shadow: 0 3px 6px #11b15e, 0 6px 12px #17f582;
}

.time h2 {
  width: auto;
  margin: 15px;
  padding: 10px;
  text-align: center;
  font-size: 5rem;
  font-family: "East Sea Dokdo", cursive;
  color: #004923;
  text-shadow: 0 3px 6px #11b15e, 0 6px 12px #17f582;
}
