.home_text {
  margin-top: 5vh;
}

.home_text h2 {
  margin: auto;
  padding: 10px;
  text-align: center;
  font-family: "Princess Sofia", cursive;
  color: #004923;
  text-shadow: 0 3px 6px #11b15e, 0 6px 12px #17f582;
}
.container {
  margin: 15px;
  padding: 10px;
}

.time h2,
.date h2 {
  width: auto;
  margin: 15px;
  padding: 15px;
  text-align: center;
  color: #0d3f01;
  font-family: "Jua", sans-serif;
  font-size: 5rem;
  text-shadow: 0 3px 6px #11b15e, 0 6px 12px #17f582;
}

@media all and (max-width: 450px) {
  .tiem h2,
  .date h2 {
    font-size: 2.5rem;
  }
}
